<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div>
        <h1>TODO List</h1>
        <p>Your completed tasks: <span id="completedTasksCount">0</span> </p>
        <input type="text" id="taskInput" placeholder="Add a new task"/>
        <button onclick="addTask()">Add Task</button>
        <ul id="tasksList"></ul>
    </div>
    <script src="/static/js/tasks.js"></script>
</body>
</html>
