<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <!-- Style mogą być dostosowane według potrzeb -->
</head>
<body>
    <div>
        <h1>TODO List</h1>
        <p>Your completed tasks: <span id="completedTasksCount">0</span> </p>
        <input type="text" id="taskInput" placeholder="Add a new task"/>
        <button onclick="addTask()">Add Task</button>
        <ul id="tasksList"></ul>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetchTasks();
            fetchCompleted();
        });

        async function fetchCompleted() {
            const response = await fetch('http://localhost:8000/tasks/completed/count')
            const completedCounter = await response.json()
            document.getElementById('completedTasksCount').textContent = completedCounter.completed_tasks_count;
        };

        async function fetchTasks() {
            const response = await fetch('http://localhost:8000/tasks/');
            const tasks = await response.json();
            const tasksList = document.getElementById('tasksList');
            tasksList.innerHTML = ''; // Wyczyść listę przed ponownym załadowaniem
            tasks.forEach(task => {
                if(!task.completed) {
                    let li = document.createElement('li');
                    li.textContent = task.name;

                    // Przycisk do zatwierdzania zadania
                    let completeButton = document.createElement('button');
                    completeButton.textContent = '✔️';
                    completeButton.onclick = () => completeTask(task.id);

                    // Przycisk do usuwania zadania
                    let deleteButton = document.createElement('button');
                    deleteButton.textContent = '❌';
                    deleteButton.onclick = () => deleteTask(task.id);

                    li.appendChild(completeButton);
                    li.appendChild(deleteButton);
                    tasksList.appendChild(li);
                }
            });
        }

        async function addTask() {
            const taskInput = document.getElementById('taskInput');
            const task = taskInput.value;
            if (task) {
                await fetch('http://localhost:8000/tasks/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({name: task})
                });
                taskInput.value = '';
                fetchTasks(); // Odśwież listę zadań
            }
        }

        async function completeTask(taskId) {
            await fetch(`http://localhost:8000/tasks/${taskId}/complete`, {
                method: 'PUT'
            });
            fetchTasks();
            fetchCompleted();// Odśwież listę zadań
        }

        async function deleteTask(taskId) {
            await fetch(`http://localhost:8000/tasks/${taskId}`, {
                method: 'DELETE'
            });
            fetchTasks(); // Odśwież listę zadań
        }
    </script>
</body>
</html>
